body{
    background-color: #485696;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #f9c784;
    text-align:justify;
    line-height:30px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
}
#Foto{
    border-radius: 60% 85%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
h3{
    background-color:#f24c00;
    color:#e7e7e7;
    text-align:center;
}
.Quem{
    padding: 10px 10px;
    text-align:center;
}
#Trybe a{
    text-decoration:none;
    color:#F9C784;
}
.list{
    padding: 5px;
    text-align:center;
    list-style:none;
}
.list a{
    text-decoration:none;
    color:#f9c784;
}
#Ing{
    font-size: 1.5em;
}
#Esp{
    font-size: 1.25em;
}
.ComLid{
    font-size: 1.15em;
}
.Hardskill{
    font-size: 1.1em;
}
#volta a{
    text-decoration:none;
    color:#f9c784;
    text-align:end;
}