body{
    background-color: #fdfffc;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #235789;
    text-align:left;
    line-height:30px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
}
#Foto{
    border-radius: 60% 85%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    float:left;
    padding: 10px;
    background-color: #c1292e;
}
h3{
    background-color:#c1292e;
    color:#fdfffc;
    text-align: left;
}
.Quem{
    padding: 10px 10px;
    text-align:left;
}
#Trybe a{
    text-decoration:none;
    color:#235789;
}
.list{
    padding: 5px;
    text-align:left;
    list-style:none;
}
.list a{
    text-decoration:none;
    color:#235789;
}
#Ing{
    font-size: 1.5em;
}
#Esp{
    font-size: 1.25em;
}
.ComLid{
    font-size: 1.15em;
}
.Hardskill{
    font-size: 1.1em;
}
#volta a{
    text-decoration:none;
    color:#020202;
    text-align:end;
}
.img-container{
    height: 280px;
}
//*div{
    border: 2px solid #F1D302;
}*\